.user-profile
  .profile.row
    .col-md-4.avatar
      .wrapper
        %img{ src: "https://instuigram-avatar.jpg" }

    .col-md-8.basic-info
      .user-wrapper
        %h2.username luanotes
        %a.edit-profile
          %button Edit Profile
      %ul.posts
        %li
          %span 12
          posts
        %li
          %span 195
          followers
        %li
          %span 345
          following
      %h2.name Luan Nguyen
      %a.website luanotes.com